

<div class="flex justify-center">
  <div class="w-5/6">
    <div class="grid grid-cols-2 gap-4 my-4">
      <button class="bg-slate-900 text-white text-5xl p-4 flex items-center justify-between" (click)="survivorPerks()">
        <div class="w-1/2"><img src="assets/survivor.png"/></div> 
        <p class="w-1/2 text-start">Survivor</p>
      </button>
      <button class="bg-slate-900 text-white text-5xl p-4 flex items-center justify-between" (click)="killerPerks()">
        <div class="w-1/2"><img src="assets/killer.png"/></div> 
        <p class="w-1/2 text-start">Killer</p>
      </button>
    </div>    
    <table class="table-auto border-separate border-spacing-2 border">
      <thead class="bg-slate-400">
        <tr>
          <th>Perk</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let perk of perks" class="bg-slate-300">
          <td class="p-5">
            <p class="text-center w-32 mb-2 font-bold">{{ perk.name }}</p>
            <div class="w-fit relative">
              <img src="assets/perk-background.png" class="relative w-32 left-0 top-0"/>      
              <img [src]="getImageURL(perk.image)" class="absolute w-32 left-0 top-0"/>      
            </div>
          </td>
          <td [innerHTML]="getFillInDescription(perk)" class="p-5"></td>
        </tr>
      </tbody>
    </table>  
  </div> 

</div>
